@model Entretenimiento.WebApplication.Models.Movie

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Película</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DurationInMinutes" class="control-label"></label>
                <input asp-for="DurationInMinutes" class="form-control" />
                <span asp-validation-for="DurationInMinutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorldwideBoxOfficeGross" class="control-label"></label>
                <input asp-for="WorldwideBoxOfficeGross" class="form-control" />
                <span asp-validation-for="WorldwideBoxOfficeGross" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Release" class="control-label"></label>
                <input asp-for="Release" class="form-control" />
                <span asp-validation-for="Release" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-light" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">
        <i class="fas fa-undo-alt"></i> &nbsp;Retornar
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
