@{
    ViewData["Title"] = "Política de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>&copy;Derechos reservados, Ingeniero Víctor Claudio Vladimir Cortés Arévalo. Servicio Nacional de Aprendizaje - SENA. Regional Distrito Capital. Centro de Electricidad, Electrónica y Telecomunicaciones. 2021.</p>
